.Display {
    background-color: rgba(24, 14, 14, 0.611);
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 100px;
    color: white;
}